#header{
    background-color: rgb(120, 165, 233);
}
#menu{
    background-color: rgb(174, 214, 240);
}
#content{
    background-color: aliceblue;
}
#footer{
    background-color: rgb(180, 178, 178);
}